{% extends 'base.html' %}

{% block title %}
  Wei-Ting Yang's Website
{% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock css %}

{% block content %}
  <main align="center">
    <div class="carousel slide" id="home_carousel" data-bs-interval="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#home_carousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#home_carousel" data-bs-slide-to="1"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/guitar.jpg' %}" alt="Cover Image One">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/leaves.jpg' %}" alt="Cover Image Two">
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#home_carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#home_carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </main>
{% endblock content %}

{% block footer %}
{% endblock footer %}
