[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-dotenv = "*"
whitenoise = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.13"
