[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
gunicorn = "==20.0.4"
python-dotenv = "*"
and = "*"
psycopg2 = "*"
whitenoise = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-widget-tweaks = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.9"
