{% extends "registration/base.html" %}

{% block title %}
  Sign Up
{% endblock title %}

{% block login_or_signup %}
  {% if form.errors %}
    <p class="mb-4 text-muted smaller">
      {% for error in form.username.errors %}
        {{ error | escape }}<br>
      {% endfor %}

      {% for error in form.password1.errors %}
        {{ error | escape }}<br>
      {% endfor %}

      {% for error in form.password2.errors %}
        {{ error | escape }}<br>
      {% endfor %}
    </p>
  {% endif %}

  <form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    {% load widget_tweaks %}
    {{ form.username  | attr:"placeholder:Set your username"         | attr:"class:form-control" | attr:"autofocus" }}
    {{ form.password1 | attr:"placeholder:Set your password"         | attr:"class:form-control" }}
    {{ form.password2 | attr:"placeholder:Enter your password again" | attr:"class:form-control" }}
    <input type="submit" value="Sign Up" class="w-100 btn btn-primary mt-3">
  </form>

  <p class="text-muted smaller mt-4 mb-0">
    <a href="{% url 'login' %}">Login</a> if you already have an account.
  </p>
{% endblock login_or_signup %}
