{% extends 'base.html' %}

{% block title %}
  My Imaginary Shop -

  {% block subtitle %}
  {% endblock subtitle %}

{% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/shop/base.css' %}">
{% endblock css %}

{% block content %}
  <main class="shop_main">
    <div class="container py-5">
      <div class="masonry-grid row">

        {% for object in object_list %}
          <div class="masonry-item col-sm-6 col-lg-4 mb-4">
            <div class="card">

              {% block subcontent %}
              {% endblock subcontent %}

            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </main>
  <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
  <script>
    const grid = document.querySelector(".masonry-grid");
    if (grid) {
      imagesLoaded(grid, () => {
        new Masonry(grid, {
          itemSelector: ".masonry-item",
          percentPosition: true,
        });
      });
    }
  </script>
{% endblock content %}
