{% extends 'shop/base.html' %}

{% block subtitle %}
  {{ product_category }}
{% endblock subtitle %}

{% block subcontent %}
  {% load static %}
  <a href="{% url 'product' object.id %}">
    <img class="bd-placeholder-img card-img-top" src="{% static 'images/'|add:object.prod_imgname %}" alt="Product Image"
         width="100%" preserveAspectRatio="xMidYMid slice" focusable="false">
  </a>
  <div class="card-body">
    <h5 class="card-title">
      <a href="{% url 'product' object.id %}">{{ object }}</a>
    </h5>
  </div>
{% endblock subcontent %}
