name: Test Workflow

on: [ push, pull_request ]

jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: 3

      - name: Upgrade PIP and install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-dev.txt

      - name: Run migrations, collect static files, and run tests
        run: |
          python manage.py migrate
          python manage.py collectstatic
          python -m coverage run manage.py
          python -m coverage report -m
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}

      - name: Check coding style
        run: |
          python -m flake8 . --extend-ignore E501,E221 --exit-zero
          python -m isort . --diff
